---
layout: default
title: "Behind the scenes | abernmedia.com"
---
<div class="wrapper lg:max-w-5xl px-2 md:px-0 pt-2 md:pt-8 lg:pt-12 mx-auto relative">
  <section class="masonry">
    <img src="/images/bts/1.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/2.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/3.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/4.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/5.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/6.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/7.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/8.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/9.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/10.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/11.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/12.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/13.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/14.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/15.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/16.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/17.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/18.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/19.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/20.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/21.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
    <img src="/images/bts/22.jpg" class="mb-2 object-cover rounded shadow-md cursor-pointer" loading="lazy">
  </section>
</div>



<style>
.masonry {
  column-count: 2;
  column-gap: 0.5rem;
}

@screen lg {
  .masonry {
    column-count: 4;
  }
}
</style>
