---
layout: default
title: "Contact | abernmedia.com"
---

<div class="wrapper lg:max-w-5xl px-2 md:px-0 pt-2 md:pt-8 lg:pt-12 mx-auto relative" style="height: calc(100vh - 175px)">
  <div class="flex flex-col justify-center items-center text-2xl">
  <p>We'd love to hear about your project. To get in touch with us please contact us at:</p>
  <br>
  <p><a href="mailto:andrew@abernmedia.com" class="text-blue-500 hover:text-blue-700">andrew@abernmedia.com</a>, or by phone at (551)-795-1167</p>
  <br>
  <p>We looking forward to hearing from you or working with you!</p>
  </div>
</div>
