---
layout: default
title: "Our work | A. Bernard Media Services"
---
<style>
  .embed-container {
    position: relative;
    padding-bottom: calc(var(--video--height) / var(--video--width) * 100%); /* 41.66666667% */
    overflow: hidden;
    max-width: 100%;
    background: black;
    z-index: 0;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
  }

  .hero-video {
    width: 100vw;
    height: calc(100vh - 11em);
    background-color: white;
  }


  @media screen and (max-width: 1200px) {
    .hero-video { height: auto; }
  }

  @media screen and (max-width: 600px) {
    .hero-video { height: auto; }
  }


  .bg-black-opacity{
    background-color: rgba(0,0,0, 0.85);
  }
</style>


<!-- <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/473456695?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script> -->

<div class="wrapper lg:max-w-5xl pt-0 md:pt-8 lg:pt-12 mx-auto relative">
  <div class="grid grid-cols-2 justify-items-center mt-8" style="max-height: calc(30% - 45px);">
    <button class="video-thumb w-full h-64 focus:outline-none hover:cursor-pointer" data-video="video-2" onclick="openVideoModal(this);">
      <img loading="lazy" class="object-cover h-64 hover:cursor-pointer" src="/images/work/2.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none hover:cursor-pointer" data-video="video-3" onclick="openVideoModal(this);">
      <img loading="lazy" class="object-cover h-64 hover:cursor-pointer" src="/images/work/3.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none hover:cursor-pointer" data-video="video-4" onclick="openVideoModal(this);">
      <img loading="lazy" class="object-cover h-64 hover:cursor-pointer" src="/images/work/4.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none hover:cursor-pointer" data-video="video-5" onclick="openVideoModal(this);">
      <img loading="lazy" class="object-cover h-64 hover:cursor-pointer" src="/images/work/5.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none hover:cursor-pointer" data-video="video-6" onclick="openVideoModal(this);">
      <img loading="lazy" class="object-cover h-64 hover:cursor-pointer" src="/images/work/6.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none hover:cursor-pointer" data-video="video-7" onclick="openVideoModal(this);">
      <img loading="lazy" class="object-cover h-64 hover:cursor-pointer" src="/images/work/7.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none hover:cursor-pointer" data-video="video-8" onclick="openVideoModal(this);">
      <img loading="lazy" class="object-cover h-64 hover:cursor-pointer" src="/images/work/8.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none hover:cursor-pointer" data-video="video-9" onclick="openVideoModal(this);">
      <img loading="lazy" class="object-cover h-64 hover:cursor-pointer" src="/images/work/9.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none hover:cursor-pointer" data-video="video-10" onclick="openVideoModal(this);">
      <img loading="lazy" class="object-cover h-64 hover:cursor-pointer" src="/images/work/10.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none hover:cursor-pointer" data-video="video-11" onclick="openVideoModal(this);">
      <img loading="lazy" class="object-cover h-64 hover:cursor-pointer" src="/images/work/11.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none hover:cursor-pointer" data-video="video-12" onclick="openVideoModal(this);">
      <img loading="lazy" class="object-cover h-64 hover:cursor-pointer" src="/images/work/12.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none hover:cursor-pointer" data-video="video-13" onclick="openVideoModal(this);">
      <img loading="lazy" class="object-cover h-64 hover:cursor-pointer" src="/images/work/13.png">
    </button>
  </div>
</div>



<article id="video-2" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">Panasonic Explorers' Program – May 2018</small>
      <iframe src="https://player.vimeo.com/video/343037868?title=0&byline=0&loop=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <button data-modal="video-2" class="hover:cursor-pointer close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>

<article id="video-3" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">Chrystopher Davis: A Newark Street Photographer and Documentarian – Sep 2020</small>
      <iframe src="https://player.vimeo.com/video/469854545?title=0&byline=0&loop=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-3" class="hover:cursor-pointer close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>

<article id="video-4" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">Mammoth – Sep 2020</small>
      <iframe src="https://player.vimeo.com/video/473851260?title=0&byline=0&loop=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-4" class="hover:cursor-pointer close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>


<article id="video-5" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">Black Poster Project – Aug 2020</small>
      <iframe src="https://player.vimeo.com/video/447238818?title=0&byline=0&loop=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-5" class="hover:cursor-pointer close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>


<article id="video-6" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">NYSED – Oct 2019</small>
      <iframe src="https://player.vimeo.com/video/470196485" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-6" class="hover:cursor-pointer close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>

<article id="video-7" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">Soundings Surfboards – Jul 2018</small>
      <iframe src="https://player.vimeo.com/video/473161796?title=0&loop=0&byline=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-7" class="hover:cursor-pointer close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>

<article id="video-8" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">West Ed – Jun 2018</small>
      <iframe src="https://player.vimeo.com/video/470193571?title=0&loop=0&byline=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-8" class="hover:cursor-pointer close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>

<article id="video-9" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">ISN Recap – May 2018</small>
      <iframe src="https://player.vimeo.com/video/382645825?title=0&loop=0&byline=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-9" class="hover:cursor-pointer close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>

<article id="video-10" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">BASF Suppliers Day – Apr 2018</small>
      <iframe src="https://player.vimeo.com/video/336891925?title=0&loop=0&byline=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-10" class="hover:cursor-pointer close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>

<article id="video-11" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">Maven</small>
      <iframe src="https://player.vimeo.com/video/500017009?title=0&loop=0&byline=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-11" class="hover:cursor-pointer close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>

<article id="video-12" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">Poetry with Sophia</small>
      <iframe src="https://player.vimeo.com/video/500020563?title=0&loop=0&byline=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-12" class="hover:cursor-pointer close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>

<article id="video-13" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">Painting with Ginwah</small>
      <iframe src="https://player.vimeo.com/video/500023152?title=0&loop=0&byline=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-13" class="hover:cursor-pointer close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>





<script>
  var thumbs = document.querySelectorAll(".video-thumb")

  thumbs.forEach(function (thumb) {
    thumb.addEventListener('mouseover', function () {
      this.classList.add("transform", "scale-105", "transition", "duration-200", "shadow-lg");
    })
    thumb.addEventListener('mouseout', function () {
      this.classList.remove("transform", "scale-105", "transition", "duration-200", "shadow-lg");
    })
  });

  var closes = document.querySelectorAll(".close-modal");
  closes.forEach(function (close){
    close.addEventListener('click', function () {
      var id = this.dataset.modal;
      var modal = document.getElementById(id);
      modal.remove();
    })
  });

  function openVideoModal (e) {
    var selector = e.dataset.video;
    var video = document.getElementById(selector);
    window.scrollTo({ top: 0, behavior: 'smooth' });
    video.classList.remove("hidden");
  }



</script>
