---
layout: default
---
<div class="wrapper lg:max-w-5xl mx-auto relative">
  <div class="grid grid-cols-2 justify-items-center mt-8 bg-main" style="max-height: calc(30% - 45px);">
    <button class="video-thumb w-full h-64 focus:outline-none" data-video="video-1" onclick="openVideoModal(this);">
      <img class="object-cover h-64" src="/images/work/1.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none" data-video="video-2" onclick="openVideoModal(this);">
      <img class="object-cover h-64" src="/images/work/2.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none" data-video="video-3" onclick="openVideoModal(this);">
      <img class="object-cover h-64" src="/images/work/3.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none" data-video="video-4" onclick="openVideoModal(this);">
      <img class="object-cover h-64" src="/images/work/4.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none" data-video="video-5" onclick="openVideoModal(this);">
      <img class="object-cover h-64" src="/images/work/5.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none" data-video="video-6" onclick="openVideoModal(this);">
      <img class="object-cover h-64" src="/images/work/6.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none" data-video="video-7" onclick="openVideoModal(this);">
      <img class="object-cover h-64" src="/images/work/7.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none" data-video="video-8" onclick="openVideoModal(this);">
      <img class="object-cover h-64" src="/images/work/8.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none" data-video="video-9" onclick="openVideoModal(this);">
      <img class="object-cover h-64" src="/images/work/9.png">
    </button>
    <button class="video-thumb w-full h-64 focus:outline-none" data-video="video-10" onclick="openVideoModal(this);">
      <img class="object-cover h-64" src="/images/work/10.png">
    </button>
  </div>

<!--
  <article class="my-8 flex flex-col items-center">
    <small class="text-sm font-gothic text-center px-4">Panasonic Explorers' Program – May 2018</small>
    <iframe src="https://player.vimeo.com/video/343037868?title=0&byline=0&portrait=0" width="640" height="338" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </article>

  <article class="my-8 flex flex-col items-center">
    <small class="text-sm font-gothic text-center px-4">Chrystopher Davis: A Newark Street Photographer and Documentarian – Sep 2020</small>
    <iframe src="https://player.vimeo.com/video/469854545?title=0&byline=0&portrait=0" width="640" height="338" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </article>

  <article class="my-8 flex flex-col items-center">
    <small class="text-sm font-gothic text-center px-4">Mammoth – Sep 2020</small>
    <iframe src="https://player.vimeo.com/video/473851260?title=0&byline=0&portrait=0" width="640" height="338" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </article>

  <article class="my-8 flex flex-col items-center">
    <small class="text-sm font-gothic text-center px-4">Black Poster Project – Aug 2020</small>
    <iframe src="https://player.vimeo.com/video/447238818?title=0&byline=0&portrait=0" width="640" height="338" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </article>

  <article class="my-8 flex flex-col items-center">
    <small class="text-sm font-gothic text-center px-4">NYSED – Oct 2019</small>
    <iframe src="https://player.vimeo.com/video/470196485" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </article>

  <article class="my-8 flex flex-col items-center">
    <small class="text-sm font-gothic text-center px-4">Soundings Surfboards – Jul 2018</small>
    <iframe src="https://player.vimeo.com/video/473161796?title=0&byline=0&portrait=0" width="640" height="338" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </article>

  <article class="my-8 flex flex-col items-center">
    <small class="text-sm font-gothic text-center px-4">West Ed – Jun 2018</small>
    <iframe src="https://player.vimeo.com/video/470193571?title=0&byline=0&portrait=0" width="640" height="338" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </article>

  <article class="my-8 flex flex-col items-center">
    <small class="text-sm font-gothic text-center px-4">ISN Recap – May 2018</small>
    <iframe src="https://player.vimeo.com/video/382645825?title=0&byline=0&portrait=0" width="640" height="338" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </article>

  <article class="my-8 flex flex-col items-center">
    <small class="text-sm font-gothic text-center px-4">BASF Suppliers Day – Apr 2018</small>
    <iframe src="https://player.vimeo.com/video/336891925?title=0&byline=0&portrait=0" width="640" height="338" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </article> -->

</div>

<article id="video-1" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">Our 2020 Reel</small>
      <iframe src="https://player.vimeo.com/video/473456695?title=0&byline=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <button data-modal="video-1" class="close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>

<article id="video-2" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">Panasonic Explorers' Program – May 2018</small>
      <iframe src="https://player.vimeo.com/video/343037868?title=0&byline=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <button data-modal="video-2" class="close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>

<article id="video-3" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">Chrystopher Davis: A Newark Street Photographer and Documentarian – Sep 2020</small>
      <iframe src="https://player.vimeo.com/video/469854545?title=0&byline=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-3" class="close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>

<article id="video-4" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">Mammoth – Sep 2020</small>
      <iframe src="https://player.vimeo.com/video/473851260?title=0&byline=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-4" class="close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>


<article id="video-5" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">Black Poster Project – Aug 2020</small>
      <iframe src="https://player.vimeo.com/video/447238818?title=0&byline=0&portrait=0" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-5" class="close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>


<article id="video-6" class="absolute bg-black-opacity hidden h-screen" style="top: 8%; bottom: 0; right: 0; left: 0">
  <section class="py-5 relative">
    <div class="flex flex-col items-center">
      <small class="text-xl font-gothic text-center p-4 text-white">NYSED – Oct 2019</small>
      <iframe src="https://player.vimeo.com/video/470196485" width="640" height="360" frameborder="1" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div data-modal="video-6" class="close-modal mt-4 text-white text-md font-gothic-bold focus:outline-none">Close window</div>
    </div>
  </section>
</article>


<style>
  .bg-black-opacity{
    background-color: rgba(0,0,0, 0.85);
  }
</style>

<script>
  var thumbs = document.querySelectorAll(".video-thumb")

  thumbs.forEach(function (thumb) {
    thumb.addEventListener('mouseover', function () {
      this.classList.add("opacity-50");
    })
    thumb.addEventListener('mouseout', function () {
      this.classList.remove("opacity-50");
    })
  });

  var closes = document.querySelectorAll(".close-modal");
  closes.forEach(function (close){
    close.addEventListener('click', function () {
      var id = this.dataset.modal;
      var modal = document.getElementById(id);
      modal.classList.add("hidden")
    })
  });

  function openVideoModal (e) {
    var selector = e.dataset.video;
    var video = document.getElementById(selector);
    window.scrollTo({ top: 0, behavior: 'smooth' });
    video.classList.remove("hidden");
  }



</script>
