---
layout: default
title: "Home | A. Bernard Media Services"
---

<style>
  .embed-container {
    position: relative;
    padding-bottom: calc(var(--video--height) / var(--video--width) * 100%); /* 41.66666667% */
    overflow: hidden;
    max-width: 100%;
    background: black;
    z-index: 0;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
  }

  .hero-video {
    height:calc(100vh - 11em);
    background-color: white;
  }


@media screen and (max-width: 1200px) {
  .hero-video { height: auto; }
}

@media screen and (max-width: 600px) {
  .hero-video { height: auto; }
}

</style>

<div class="embed-container hero-video" >
  <div class="object-contain" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/473161019?autoplay=1&loop=1&title=0&byline=0&portrait=0&muted=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</div>

<div class="wrapper lg:max-w-5xl mx-auto relative px-2">
  <section class="mt-4 md:mt-8 mb-8 text-center">
    <p class="font-gothic-bold text-2xl lg:text-3xl mb-6">A team of professionals who pride ourselves on our work</p>
    <p class="font-gothic mb-4 text-lg">A Bernard Media Services is a full range Video Production Company that specializes in producing creative, informational and corporate style videos.  Strong content is our passion as we bring your brand to life and tell your story.</p>
    <p class="font-gothic mb-4 text-lg">We stay on time and on schedule while excelling in Cinematography, Directing, Audio and Editing.  We pride ourselves on staying true to our Client’s Vision and working together in a collaborative setting.</p>
    <p class="font-gothic mb-4 text-lg">We are willing and able to adapt to the setting and circumstance to bring your vision to screen!</p>
  </section>
  <img src="/images/mammoth.jpg" loading="lazy" class="rounded shadow-lg">
  <section class="mt-8 mb-10">
    <div class="font-gothic-bold text-2xl lg:text-3xl mb-4 md:mb-8 text-center">Our team</div>
    <div class="flex justify-center">
      <article class="flex flex-col items-center pr-2">
        <img src="/images/andrew.png" loading="lazy" class="rounded shadow-lg">
        <div class="text-center mt-2">
          <p class="font-gothic-bold">Andrew Benard</p>
          <p class="font-gothic">Founder,<br>Director</p>
        </div>
      </article>
      <article class="flex flex-col items-center pl-2">
        <img src="/images/bob.png" loading="lazy" class="rounded shadow-lg">
        <div class="text-center mt-2">
          <p class="font-gothic-bold">Bob Klein</p>
          <p class="font-gothic">Director of Photography,<br>Editor</p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <p class="text-center font-gothic-bold text-2xl lg:text-3xl mb-4">Trusted by</p>
    <div class="grid grid-cols-2 md:grid-cols-4 items-center gap-4 justify-self-center">
      <img src="./images/clients/8.png" loading="lazy" class="p-3" style="filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.45))">
      <img src="./images/clients/9.png" loading="lazy" class="p-3" style="filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.45))">
      <img src="./images/clients/1.png" loading="lazy" class="p-3" style="filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.45))">
      <img src="./images/clients/2.png" loading="lazy" class="p-3" style="filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.45))">
      <img src="./images/clients/3.png" loading="lazy" class="p-3" style="filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.45))">
      <img src="./images/clients/4.png" loading="lazy" class="p-3" style="filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.45))">
      <img src="./images/clients/5.png" loading="lazy" class="p-3" style="filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.45))">
      <img src="./images/clients/6.png" loading="lazy" class="p-3" style="filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.45))">
      <img src="./images/clients/7.png" loading="lazy" class="p-3" style="filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.45))">
      <img src="./images/clients/0.png" loading="lazy" class="p-3" style="filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.45))">
      <img src="./images/clients/10.png" loading="lazy" class="p-3" style="filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.45))">
      <img src="./images/clients/11.png" loading="lazy" class="p-3" style="filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.45))">
    </div>
  </section>
</div>


