<footer class="border-t border-main mt-8 py-4">
  <section class="wrapper lg:max-w-5xl mx-auto">
    <div class="text-right text-xs font-gothic">
      ©{{ "now" | date: "%Y" }} Abernard Media Services, LLC.<br>
      abernmedia@gmail.com | (551)795-1167<br>
      100 Grand street, Hackensack, New Jersey, USA
    </div>
  </section>
</footer>
