<footer class="border-t border-main mt-8 py-4">
  <section class="wrapper lg:max-w-5xl mx-auto px-2">
    <div class="text-right text-xs font-gothic">
      ©{{ "now" | date: "%Y" }} Abernard Media Services, LLC.<br>
      andrew@abernmedia.com | (551)795-1167<br>
    </div>
  </section>
</footer>
